<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: && get location where click on map -->


<!-- <agm-map (mapClick)="placeMarker($event)" [streetViewControl]="true"[latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng">
    <agm-info-window> 
    </agm-info-window>
  </agm-marker>
</agm-map> -->


<br><br><br>

    <!--cluster--><!--cluster--><!--cluster--><!--cluster--><!--cluster--><!--cluster-->


<!-- <div>
  <agm-map [latitude]="lat" [longitude]="lng">

    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">

    <agm-marker *ngFor="let marker of markers"
    [iconUrl]="marker.iconUrl"
     [latitude]="marker.lat"
      [longitude]="marker.lng"
      [label]="marker.label"> -->

      <!-- information employee using info window  -->
<!-- /* -->
    <!-- <agm-info-window >
<strong>
  {{marker.label}}
</strong>
<br>
<strong>
  <a href="{{marker.linkprofile}}">aaaaaaa</a>
</strong>
    </agm-info-window>   -->
<!-- */ -->

    <!-- information employee using info snazzy window  -->
    <!-- if i want Snazzy window  -->

<!-- /* -->
    <!-- <agm-snazzy-info-window  [closeWhenOthersOpen]="true">
        <ng-template>
          My first Snazzy Info Window!
        </ng-template>
      </agm-snazzy-info-window> -->
<!-- */ -->

  <!-- </agm-marker>
  </agm-marker-cluster>
  </agm-map>
    <button type="button" (click)="getAllTasks()">All</button>
    <button type="button" (click)="getFinishedTasks()">Finished</button>
    <button type="button" (click)="getNextTasks()">Loading</button>

</div> -->

<br><br><br><br>

<!-- polygon -->

<!-- <div>


<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-polygon [editable] = "true" [polyDraggable]="true" [paths] = "loc"></agm-polygon>
  </agm-marker>
</agm-map>



</div> -->



<!-- polyline ... shortest path .. -->

<div>

    <agm-map [latitude]="lat" [longitude]="lng">

        <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"[label]="marker.label">
        <agm-info-window></agm-info-window>
        </agm-marker>
      </agm-marker-cluster>
      
    <agm-polyline
    [visible]="true"
    [strokeWeight]="3">
     <agm-polyline-point 
       *ngFor="let marker of markers; let i=index"
       [latitude]="marker.lat"
       [longitude]="marker.lng">
     </agm-polyline-point>
   </agm-polyline>
  </agm-map>
</div>

<!--using diirections service -->
<br><br>
<div>

  <agm-map [latitude]="lat" [longitude]="lng"> 
    <!--  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>  -->
    <agm-direction [origin]="dir.origin" [destination]="dir.destination"></agm-direction> 
    <agm-direction [origin]="dir2.origin" [destination]="dir2.destination"></agm-direction> 
  
  </agm-map>    
   <button type="button" (click)="getDirection()">Get</button>

</div>
<br><br>
